<% content_for :menu do %>
    <ul>
      <li><%= link_to "Discussions", :controller => "discussions", :action => "index" %></li>
      <li><%= link_to "Blogs", :controller => "blogs", :action => "index" %></li>
      <li><%= link_to "Documents", :controller => "documents", :action => "index" %></li>
    </ul>
<% end%>

<h1>Latest Things</h1>
<ul>
	<li>Help!!</li>
</ul>
