/*
Template Design by TheWebhub.com
http://www.thewebhub.com
Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines
*/

/** Common Styles */

body {
	margin: 0px;
	padding: 0;
	background: #000000;
	line-height: 1.6em;
	text-align: justify;
	font-family: Tahoma, Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #C9C9C9;
	min-width: 830px;
}

h1 {
	font-size: 32px;
	font-weight: normal;
	text-transform: lowercase;
}

h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font-size: 22px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

h4 {
	padding: 0;
	margin: 0;
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0px;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
}

ul {
	margin-left: 0px;
	padding-left: 0px;
	list-style-type: none;
}

a {
	border-bottom: 1px dotted #0DF52D;
	text-decoration: none;
	color: #0DF52D;
}

a:hover {
	text-decoration: none;
}

/** HEADER */

#header {
	width: 85%;
	height: 60px;
	margin: 0px auto;
	padding: 10px 0 0 0;
	background: #1A1A1A repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
}

#header h1 {
	margin: 0px;
	padding-left: 4px;
	text-transform: uppercase;
	font-size: 19px;
	color: #FFFFFF;
}

#header b {
	color: #000000;
}

#header h2 {
	margin: 0px;
	margin-top: 0px;
	padding-left: 15px;
	font-size: 11px;
}

#header h2 a {
	color: #FFFFFF;
}

#header_search {
	float: right;
	margin-top: -10px;
}

/** MENU */

#menu-wrap {
	background: #1A1A1A repeat-x left bottom;
	height: 24px;
}

#menu {
	width: 640px;
	height: 20px;
	margin: 0px auto;
}

#menu ul {
	margin-left: 10px;
	padding: 0px;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	border: none;
	padding: 5px 20px 0 6px;
	text-transform: uppercase;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}

#menu a:hover {
	/**background: #C9C9C9 no-repeat left 85%;*/
	color: #C9C9C9;
}

#menu .current a {
	border-left: 2px solid #0DF52D;
}
/** CONTENT */

#content {
	width: 85%;
	min-width: 800px;
	margin: 0px auto;
	padding: 0;
}

#columnA {
	float: right;
	width: 640px;
	margin-top: -1px;
}

#columnA h1, #columnA h2 {
	margin: 20px 0;
	padding: 5px 5px;
}

#columnA p {
}

#columnA b {
	/*color: #0DF52D;*/
}

#columnA ul {
	list-style-type: circle;
	margin-left: 20px;
}

#columnB {
	float: left;
	width: 160px;
	min-height: 550px;
	margin-left: 0px;
	background: #1A1A1A repeat-x left top;
}

#columnB h2 {
	margin: 10px 0;
	padding-bottom: 10px;
	font-size: large;
}

#columnB li {
	margin-bottom: 30px;
	padding-left: 1px;
}

/** FOOTER */

#footer-wrap {
	width: 85%;
	background: #1A1A1A repeat-x left top;
	height: 20px;
	margin-left: 20px;
}

#footer {
	width: 85%;
	margin: 0px auto;
	padding-top: 2px;
	font-size: 8px;
	text-align: right;
}

#footer .copyright {
	margin: 0px;
}

#footer .links {
	margin: 0px;
}

#footer a {
	border: none;
	text-decoration: none;
	color: #C9C9C9;
}


#flash {
	color: green;
}