$("#flash").remove();
$("#new_blog_comment").before('<div id="flash"><%= escape_javascript(flash.delete(:notice)) %></div>');
$("#comments").append("<%= escape_javascript(render(:partial => @blog_comment)) %>");
$("#new_blog_comment")[0].reset();
