<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Chameleon Coders</title>
<meta name="keywords" content="web,development,backend,database" />
<meta name="description" content="Chemeleon Coders backend web development." />
<%= stylesheet_link_tag 'default' %>
<%= javascript_include_tag 'jquery-1.3.1', :cache => true %>
<%= javascript_include_tag 'application', :cache => true %>

</head>
<body>
<div id="header">
  <h1>Zebra</h1>
  <h2><b><a href="http://www.chameleoncoders.com">The Official Community</a></b></h2>
</div>
<div id="content">
  <div id="columnA">
		<div id="menu-wrap">
		  <div id="menu">
		    <ul>
		      <li class="current_page"><a href="index.html" id="home">Discussions</a></li>
		      <li><a href="what_we_do.html" id="what_we_do">Blogs</a></li>
		      <li><a href="how_we_do_it.html" id="how_we_do_it">Documents</a></li>
		    </ul>
		  </div>
		<h2>Index of Content</h2>
		<p>This is the greatest community ever</p>
		</div>
    <!-- Content files get loaded here by javascript code -->
  </div>
  <div id="columnB">
    <h2>What's new</h2>
    <ul>
      <li><a href="http://www.rubyonrails.org/">Ruby On Rails</a></li>
      <li><a href="http://www.cakephp.org/">Cake PHP</a></li>
      <li><a href="http://java.sun.com/javaee/">J2EE</a></li>
      <li><a href="http://www.akelos.org">Akelos</a></li>
    </ul>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer-wrap">
  <div id="footer">
    <p class="copyright">Copyright &copy; 2009 ChameleonCoders.com.</p>
  </div>
</div>
</body>
</html>
