<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Zebra</title>
<meta name="keywords" content="community,blog,discussion,social,network" />
<meta name="description" content="Zebra, The 'Official' community." />
<%= stylesheet_link_tag 'default' %>
<%= javascript_include_tag 'jquery-1.3.1', :cache => true %>
<%= javascript_include_tag 'application', :cache => true %>

</head>
<body>
<div id="header">
  <h1>Zebra</h1>
  <h2><b><a href="/">The Official Community</a></b></h2>
</div>
<div id="content">
  <div id="columnA">
		<div id="menu-wrap">
		  <div id="menu">
				<%= navigation [:discussions, :blogs, :documents]%>
			</div>
		</div>
		<p style="color: green"><%= flash[:notice] %></p>
    <%= yield %>
  </div>
  <div id="columnB">
		<%= render :partial => "users/top_users" %>
    <%= render :partial => "dashboard/recent_items" %>
  </div>
  <div style="clear: both;">&nbsp;</div>
</div>
<div id="footer-wrap">
  <div id="footer">
    <p class="copyright">Copyright &copy; 2009 ChameleonCoders.com.</p>
  </div>
</div>
</body>
</html>
